.navbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #DB4437;
  font-size: 1.5rem;
  margin-bottom: 5px;
};

.navbar-brand {
  display: inline-block;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: pre-wrap !important;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  /* background-color: pink;
  border-color: pink; */
}
.search {
  background-color: #0F9D58 !important;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.saved {
  background-color: #4285f4;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* color: #4285F4; blue
color: #DB4437; red;
color: #F4B400; yellow
color: #0F9D58; green */
